<section class="py-16 px-10">
  <div class="mx-auto max-w-lg">
    <p class="mt-4 text-xl text-gray-800">Are invasive species like <strong>english ivy</strong>, <strong>privet</strong> and <strong>kudzu</strong> crowding your natural habitat?</p>
    <p class="mt-4 text-gray-700">Our hungry billy goats will feast away the invasive species that are actively strangling the life out of your trees and bushes to clear a path for the cultivation of a native landscape that will thrive in the refreshed and fertilized soil that our
    goats leave behind.</p>
  </div>
</section>