<section class="py-16 px-10">
  <div class="mx-auto max-w-lg">
    <h2 class="text-3xl text-center uppercase">Contact Us</h2>
    <p class="mt-4 text-gray-700">For more information about arranging a hungry herd to visit your habitat, please send a detailed description of your project with pictures if possible to <a href="mailto:goatfolx@gmail.com" class="font-bold underline text-blue-600 hover:text-blue-800">goatfolx@gmail.com</a>
    </p>
  </div>
</section>