<section class="py-16 px-8">
  <h2 class="text-3xl text-center uppercase">Our Goats</h2>
  <div class="container mx-auto o-4 sm:o-0 sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-2">

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://placegoat.com/400/200/?1"/>
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold">Name</h3>
        <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://placegoat.com/400/200/?2"/>
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold">Name</h3>
        <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://placegoat.com/400/200/?3"/>
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold">Name</h3>
        <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://placegoat.com/400/200/?43"/>
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold">Name</h3>
        <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
      </div>
    </div>
  </div>
</section>