<section class="pt-8 pb-16 px-10">
  <div class="mx-auto max-w-lg">
    <h2 class="text-3xl text-center uppercase">What we do</h2>
    <p class="mt-4 text-gray-700">With reverence for the Earth’s natural processes, goat folx works with nature to remove invasive species and clear the way for environmental restoration of residential, commercial, and industrial green spaces. When our hungry billy goats visit, they enable the cultivation of a landscape that will thrive in the refreshed and fertilized soil they leave behind.</p>
    <p class="mt-4 text-gray-700">We are committed to developing native habitats that flourish here in the sunny south. While our hungry herd clears space, the humans at goat folx are available to consult, design, and install native plantscapes, especially those most suited to sustainable living practices such as herbs and wild medicinals, edible fruit-bearing plants, ornamentals, pollinator gardens, rain &amp; bog gardens, and innovative water-conserving raised bed vegetable gardens. We are inspired to utilize permaculture design techniques to manage and conserve water on your property, develop your soil and prepare your natural habitat to care for itself.</p>
  </div>
</section>