---
layout: base
title: About the goat folx
---
<img class="object-cover w-full h-screen" src="/assets/images/goat1.jpg" alt="">

<section class="py-16 px-10">
  <div class="mx-auto max-w-lg">
    <h1 class="text-3xl text-center uppercase">{{title}}</h1>
    <p class="mt-4 text-xl font-bold text-gray-700">Why does goat folx refer to itself as a rescue?</p>
    <p class="mt-4 text-gray-700">Billy goats are male goats. In common livestock farming practices, billy goats are used primarily as breeders. Disbudding (removing a buckling’s horns) and castration (removal of the goats’ testicles) are common practices. These practices are intended to make young goats more docile and to prevent mature goats from experiencing the urgency to breed.</p>
    <p class="mt-4 text-gray-700">At goat folx, we ensure that our little friends stay entirely whole and happy. We adopt little male goats (pygmies and dwarfs) to provide them a happy life of eating plants with all of their body parts intact.</p>
  </div>
</section>

{%- include "contact-temp.njk" -%}