---
layout: page
---

<img class="object-cover w-full h-screen" src="assets/images/goats.jpg" alt="">

{%- include "blurb.njk" -%}

{%- include "what.njk" -%}

{# <section class="py-6 px-4 bg-blue-600">
    <div class="flex items-center justify-between">
      <p class="text-xl text-gray-100">Want to learn more?</p>
      <a href="" class="bg-blue-800 hover:bg-gray-100 text-gray-100 hover:text-blue-800 py-2 px-4 border border-gray-100 rounded focus:outline-none focus:shadow-outline">Learn more about us!</a>
    </div>
  </section> #}

{%- include "cta.njk" -%}

{%- include "contact-temp.njk" -%}
{# {%- include "goats-intro.njk" -%}

  {%- include "inquiry.njk" -%} #}