---
layout: base
title: The Goats
---
<img class="object-cover w-full h-screen" src="/assets/images/goat1.jpg" alt="">

<section class="py-16 px-10">
  <div class="mx-auto max-w-3xl">
    <h1 class="text-3xl text-center uppercase">{{title}}</h1>
    {%- for goat in goats -%}
      <div class="flex justify-between mt-6">
        <h3 class="text-2xl">{{goat.name}}</h3>
        <p class="w-2/3">{{goat.bio}}</p>
      </div>
    {%- endfor -%}
  </div>
</section>

{%- include "contact-temp.njk" -%}